body{
    min-height: 3000px;
}
.jumbotron{
    padding-top: 6rem;
    /* padding: 2rem 1rem; */
    background-color: #e3f2fd;
}
#about{
    background-color: #ffff;
}
#projects{
    background-color: #e3f2fd;
}
#contact{
    background-color: #ffff;
}
section{
    padding-top: 5rem;
}